$color-border: #d9d9d9;
$color-primary: #3843D0;
$color-orange: #EB5267;
$color-primary-lt: rgba(32,107,196,.05);
$color-secondary: rgba(116, 108, 112, .1);

@font-face {
    font-family: 'MAIN-EB';
    src: url('/resources/themes/dizest/font/nanumsquareround/EB.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MAIN-B';
    src: url('/resources/themes/dizest/font/nanumsquareround/B.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MAIN-R';
    src: url('/resources/themes/dizest/font/nanumsquareround/R.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SUB';
    src: url('/resources/themes/dizest/font/godo/L.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html, body {
    background: #fff;
    overflow: hidden;
}

.page {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: transparent;
}