$color-bg: #fff;
$color-primary: #3843D0;
$color-primary-hover: #3C2D54;
$color-primary-light: rgba(32,107,196,.05);
$color-text: #1e293b;
$color-border: #d9d9d9;

$w-mobile: 768px;
$w-desktop: 769px;

html, body {
    overflow: hidden;
}

body {
    @media (max-width: $w-mobile) {
        height: 100% !important;
    }
}

body > .page {
    height: 100vh;
    padding-left: 280px !important;
    overflow: auto;

    @media (max-width: $w-mobile) {
        padding-left: 0 !important;
    }

    .content {
        @media (max-width: $w-mobile) {
            margin-top: 118px;
            padding-bottom: 118px;
        }
    }
}

aside {
    width: 280px !important;
    border-right: 1px solid $color-border;

    @media all and (max-width: $w-mobile) {
        background: #3843D0 !important;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        z-index: 99999;
        max-height: 100%;
        overflow: auto;
    }

    > .container { 
        padding: 0;

        @media all and (max-width: $w-mobile) { 
            background: $color-primary;
            z-index: 9999;
        }
    }

    .navbar-brand-container {
        display: block;
        text-align: center;

        @media all and (max-width: $w-mobile) {
            display: flex;
        }

        .navbar-toggler {
            @media all and (max-width: $w-mobile) {
                align-items: flex-end;
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    }

    .navbar-collapse {
        .profile-card {            
            border: none !important;
            box-shadow: none !important;
            background: transparent !important;
            color: $color-text !important;

            @media all and (max-width: $w-mobile) {
                color: #fff !important;
            }

            .footer-menu {
                border-bottom: 1px solid $color-primary-hover;

                @media all and (max-width: $w-mobile) {
                    color: #fff !important;
                    border-bottom: none;
                }

                .profile-menu {
                    .divider-line {
                        margin: 0 6px;
                    }

                    &:last-child {
                        .divider-line {
                            display: none;
                        }
                    }
                }

                a {
                    color: $color-text !important;

                    @media all and (max-width: $w-mobile) {
                        color: #fff !important;
                    }
                }
            }
        }

        .navbar-nav {
            margin: 0 !important;
            height: 100%;
            font-size: 14px;
            margin-top: 30px;

            .nav-item {
                cursor: pointer;
                padding: 0;
                font-family: 'MAIN-B';
                border-bottom: 1px solid $color-border;
                line-height: 1;

                .mr-2 {
                    margin-right: 12px !important;
                }

                .nav-link {
                    color: $color-text;
                    font-size: 18px;
                    padding: 12px 24px !important;
                }

                .nav-item-status {
                    display: none;
                }

                &.active {
                    background-color: $color-primary-light;
                    .nav-link {
                        background-color: transparent !important;
                        color: $color-text;
                    }

                    .nav-item-status {
                        display: block;
                        color: $color-primary;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}

.avatar-area {
    display: inline-block;

    .avatar-container {
        background-color: #fff;
        border-radius: 24px;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, .15);
        padding: 0;

        .avatar {
            border-radius: 24px;
            width: 88px;
            height: 88px;
            background-color: transparent;
        }
    }   

    &.avatar-area-sm {
        .avatar-container {
            border-radius: 8px;
            .avatar {
                border-radius: 8px;
                width: 36px;
                height: 36px;
            }
        }   
    }
}

.btn {
    cursor: pointer !important;
}