- if hubconfig.title
    title= hubconfig.title
- else
    title DIZEST

meta(charset='utf-8')
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(http-equiv="Content-Language" content="en")
meta(name='msapplication-TileColor' content='#3843D0')
meta(name='theme-color' content='#3843D0')
meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='mobile-web-app-capable' content='yes')
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')

link(rel="shortcut icon" href="/resources/images/brand/icon.ico")

//- core.js
script(src='/resources/themes/dizest/core/js/jquery-3.5.1.min.js')
script(src='/resources/themes/dizest/core/js/angular.min.js')
script(src='/resources/themes/dizest/core/js/angular-sanitize.js')

//- libs
script(src='/resources/themes/dizest/libs/chartjs/Chart.min.js')

script(src='/resources/themes/dizest/libs/ckeditor/dizest/translations/en.js')
script(src='/resources/themes/dizest/libs/ckeditor/dizest/ckeditor.js')
script(src='/resources/themes/dizest/libs/moment/moment-with-locales.min.js')
script(src='/resources/themes/dizest/libs/sortable/sortable.min.js')
script(src='/resources/themes/dizest/libs/sortable/sortable.ng.js')
script(src='/resources/themes/dizest/libs/monaco/ui-monaco.js')
script(src='/resources/themes/dizest/libs/season/shortcut.js')
script(src='/resources/themes/dizest/libs/season/dragger.js')
script(src='/resources/themes/dizest/libs/season/dragger.ng.js')
script(src='/resources/themes/dizest/libs/socketio/socket.io.js')
script(src='/resources/themes/dizest/libs/toastr/toastr.min.js')

link(href='/resources/themes/dizest/libs/split-pane/split-pane.css' rel='stylesheet')
script(src='/resources/themes/dizest/libs/split-pane/split-pane.js')
script(src='/resources/themes/dizest/libs/split-pane/angular-split-pane.js')

link(href='/resources/themes/dizest/libs/drawflow/drawflow.css' rel='stylesheet')
script(src='/resources/themes/dizest/libs/drawflow/drawflow.js')

link(href='/resources/themes/dizest/libs/fontawesome/css/all.min.css' rel='stylesheet')

link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-flags.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-payments.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/tabler-vendors.min.css' rel='stylesheet')
link(href='/resources/themes/dizest/libs/tabler/dist/css/demo.min.css' rel='stylesheet')

//- custom
link(href='/resources/themes/dizest/core/css/theme.scss' rel='stylesheet')
link(href='/resources/themes/dizest/core/css/dizest.scss' rel='stylesheet')

script(src='/resources/themes/dizest/core/js/base.js')
script(src='/resources/themes/dizest/core/js/app.js')

//- language pack
script(src='/resources/themes/dizest/lang/kr/moment.js')

link(href='/resources/themes/dizest/libs/toastr/toastr.min.css' rel='stylesheet')